@model EsrTestHarness.ViewModels.LoginVM

<div class="px-4 py-5 my-5 text-center">

    <h1 class="display-5 fw-bold">Esr Test Harness</h1>


    <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light" method="post" asp-controller="Home" asp-action="Index">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" name="username" required placeholder="name@example.com">
                <label for="floatingInput">Email as user name</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
        </form>
    </div>

</div>