@page
@model LearningHub.Nhs.Content.Pages.NotPublishedModel
@{
}

<h1>Resource not available</h1>
<div class="lh-content-container">
    <p>
        The contributor of <b> @Model.ScormContentDetail.Title </b>(Resource Reference Id: @Model.ScormContentDetail.ResourceReferenceId) has unpublished this resource from the Learning Hub which means that it can no longer be accessed on ESR.
    </p>

    <p>
        If you need help, please contact your <a href="http://www.esrsupport.co.uk/access.php">ESR System Administrator.</a>
    </p>
</div>